h1 {
	color: salmon;
}

.wrapper {
  display: flex; 
  flex-flow: row;
}

  .main {
  	display: flex;
  	background:black;
    color:green;
    font-family:Courier;
  	flex-flow: column wrap;
  }

  .corner {
  	display:flex;
  	background:cyan;
  	flex-flow:column;
  }

  .left {
  	display:flex;
  	flex-flow:column;
  }

  .links {
  	color: white;
  	background: black;
  	display:flex;
  	flex-flow:column;
  }

  .name {
  	font-size:24px;
  	display:flex;
  	flex-flow:row nowrap;
  }

  .social {
  	display:flex;
  	flex-flow:row;
  }