body {
	margin: 0 !important;
    padding: 0 !important;
}

.wrapper{
	display:flex;
}

.left{
	display:flex;
	flex-flow:column;
	width:20vw;
}

.main{
	background:#d6d6d6;
	width:80vw;
	font-family:sans-serif;
}

.main h1{
	color:#B66050;
	margin-bottom:5px;
}

.main h6{
	color:gray;
	margin-top:5px;
}

.corner{
	background:#E6FFF9;
	height:20vh;
	display:flex;
	flex-flow:column;
	justify-content: space-between;
}

.corner .name a{
	color:#13181E;
	text-decoration:none;
	font-family:sans-serif;
	font-size:2vw;
}

.links{
	background:#13181E;
	height:80vh;
	color:white;
	font-family:sans-serif;
}

.links .category{
	text-decoration:underline;
}

.links a{
	text-decoration:none;
	color:white;
	font-family:sans-serif;
}

.links--selected{
	text-decoration:none;
	color:darkgray;
}