h1 {
	font-size:60px;
	text-align:center;
}

.results{
	color:green;
	font-family:Courier;
}

.wrapper{
	color:white;
	background:black;
	display:flex;
	flex-flow:column;
	padding:20px;
	justify-content:center;
	align-items:center;
}

.row{
	display:flex;
	justify-content:center;
}

.cell{
	color:white;
	display:flex;
	width: 200px;
  	height: 200px;
	font-family:Courier;
	font-size:170px;
	background:black;
	border:5px solid white;
	justify-content:center;
	align-items:center;
}